.homediv{
    color: rgb(255, 255, 255);
    background-color: rgb(200, 199, 199);
    padding: 10px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    margin: 20px;


    
}
